section{
    display: flex;
    justify-content: center;
}

.picture{
    width: 240px;
    min-width: 240px;
    height: 320px;
    margin: 4rem 0.1rem;
    box-shadow: 0 20px 45px rgba(0,0,0, 0.3);
    position: relative;
    transition: .4s ease;
}
.picture:hover{
    transform: scale(1.15);
}
.picture:after{
    content: '';
    width: inherit;
    height: inherit;
    background-image: inherit;
    position: absolute;
    bottom: -100%;
    transform: rotateX(180deg);
    background: linear-gradient() no-repeat;
    background-size: cover;  
    overflow: hidden;  
}

.picture:before{
    content: '';
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.1),#fff 100%);
    position: absolute;
    bottom: -100%;
    z-index: 1;
    overflow: hidden;  

}